<template>
    <div>
        <ul v-if="posts && posts.length">
            <li v-for="post of posts" style="list-style-type:none;">
                <h1>{{post.first_name}}</h1> 
                <h2>{{post.last_name}}</h2>
                <p>{{post.birthday}}</p>
                <p>{{post.email}}</p>
                <img :src=post.avatar alt="">
                <hr>
            </li>

        </ul>
         <ul v-if="errors && errors.length">
            <li v-for="error of errors">
                {{error.message}}
            </li>
        </ul>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data: () =>({
            posts: [],
            errors: []
        }),
        created(){
            axios.get('http://localhost:8000/wokers')
            .then(response => {
                this.posts = response.data
            })
            .catch(e =>{
                this.errors.push(e)
            })
        },
        mounted() {
            console.log('Component worker mounted.')
        }
    }
</script>
